1. What exactly is []?
 [] is used to represent the list elements.

In [63]:
#2. In a list of values stored in a variable called spam, how would you assign the value "hello"; as the 
#third value? (Assume [2, 4, 6, 8, 10] are in spam.)

spam=[2,4,6,8,10]
spam.insert(2,"hello")
spam

[2, 4, 'hello', 6, 8, 10]

In [8]:
#Let's pretend the spam includes the list ['a','b','c','d'] for the next three queries.
#3. What is the value of spam[int(int('3' * 2) / 11)]?

spam=['a','b','c','d']
spam[int(int('3'*2)/11)]

'd'

In [10]:
#4. What is the value of spam[-1]?
a=spam[-1]
a

'd'

In [11]:
#5. What is the value of spam[:2]?
b=spam[:2]
b

['a', 'b']

In [15]:
#Lets pretend bacon has the list [3.14, 'cat' ,11, 'cat', True] for the next three questions.
#6. What is the value of bacon.index("cat")?

bacon=[3.14, 'cat' ,11, 'cat', True]
c=bacon.index('cat')
c

1

In [16]:
#7. How does bacon.append(99) change the look of the list value in bacon?

bacon=[3.14, 'cat' ,11, 'cat', True]
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [17]:
#8. How does bacon.remove('cat') change the look of the list in bacon?

bacon=[3.14, 'cat' ,11, 'cat', True]
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

In [20]:
#9. What are the list concatenation and list replication operators?

#list concatenation is done using operators +. This operator helps to join the list and make a single new list.

l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l3 = l1+l2
l3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
#9. list replication operator creates the multiple concatenated copies of the list. The operator used is *.

l1=[1,2,3]
l2 = l1*2
l2

[1, 2, 3, 1, 2, 3]

In [24]:
#10. What is difference between the list methods append() and insert()?

#The list method append() function only adds the elements to the end of the list.

l1=[1,2,3]
l1.append(4)
l1

[1, 2, 3, 4]

In [26]:
#The list method insert() function can add the elements to the list only with 2 arguments as input. 
#One is position of the element and its value being mentioned.

l1=[1,2,3,4]
l1.insert(2,"ash")
l1.insert(4,"zk")
l1

[1, 2, 'ash', 3, 'zk', 4]

In [28]:
#11. What are the two methods for removing items from a list?

l1=["cat",23,45,12.2]
l1.remove(23) #it removes the specified element in the list
l1

['cat', 45, 12.2]

In [32]:
l1=["cat",45,12.2]
l1.pop() 
l1.pop(0) #it removes the last element in the list even if the elements is not passed as argument, position of the element is passed as arguement
l1

[45]

In [45]:
#12. Describe how list values and string values are identical.

#list values

l1= [223,5234,224,'wrw']
l1[0:4]

[223, 5234, 224, 'wrw']

In [46]:
#string values

a="strw"
a[0:4]

'strw'

In [48]:
#Both above examples show that the string values and list values are identical.

In [ ]:
#13. What's the difference between tuples and lists?

#tuples is also like a list. It is enclosed in the brackets(). It is immutable collection. We cannot reassign the elements here.
#tuples are fixed size collections.

a= (1,2,3)  #tuple

#lists are a collection of data enclosed in[].list is a mutable collection.

a=[1,2,3]  #list

In [52]:
#14. How do you type a tuple value that only contains the integer 42?

t =(42)
print("the type of 42",type(t))

the type of 42 <class 'int'>

In [54]:
#15. How do you get a list values tuple form? How do you get a tuple values list form?

#List values tuple form

l=[1,2,3]
t= tuple(l)
t

(1, 2, 3)

In [55]:
#tuple values list form

t=(1,2,3)
l= list(t)
l

[1, 2, 3]

In [57]:
#16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

variable ="contain"

#Above statement is a declaration of a string "contain" assigned to the variable name variable.

In [62]:
#17. How do you distinguish between copy.copy() and copy.deepcopy?

import copy
l = [1,2,3,4,5]
l1 = copy.copy(l)
l1

[1, 2, 3, 4, 5]

In [61]:
import copy
l =[1,2,3,4,5]
l2 = copy.deepcopy(l)
l2

[1, 2, 3, 4, 5]

In [ ]:
#A copy constructs a new compound object and then (to the extent possible) inserts 
#references into it to the objects found in the original.


#A deep copy constructs a new compound object and then, recursively, 
#inserts copies into it of the objects found in the original.