In [1]:
"""
Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True"""

def is_symmetrical(n):
  return str(n) == str(n)[::-1]

is_symmetrical(7227)

True

In [2]:
is_symmetrical(12567)

False

In [3]:
is_symmetrical(44444444)

True

In [4]:
is_symmetrical(9939)

False

In [5]:
is_symmetrical(1112111)

True

In [25]:
"""Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

Examples
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20"""


import numpy
def multiply_nums(string):
    lst= string.split(',')# splits the string numbers as string
    for i in range(0,len(lst)):# converts string elements in list to integers
        lst[i]=int(lst[i])
    result=numpy.prod(lst)#multiplies all the elements in the list
    return result

multiply_nums("2, 3")

6

In [27]:
multiply_nums("1, 2, 3, 4")

24

In [28]:
multiply_nums("54, 75, 453, 0")

0

In [29]:
multiply_nums("10, -2")

-20

In [51]:
"""Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

Notes
The function receives an integer and must return an integer."""

def square_digits(num):
    if type(num)==int:
        x = [int(a) for a in str(num)] # splits the given integer into a list with separated digits
        y=[i*i for i in x] # squares every element in the list 
        s = [str(i) for i in y] # Converting integer list to string list
        result = int("".join(s))# Join list items using join()
        return result
    else:
        print("enter only integers")
   

square_digits(9119)

811181

In [52]:
square_digits(2483)

416649

In [50]:
square_digits(3212)

9414

In [53]:
square_digits(3.4)

enter only integers

In [61]:
"""Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]
"""
def setify(lst):
    lst.sort()
    result=[*set(lst)]
    return result

setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [62]:
setify([4, 4, 4, 4])

[4]

In [63]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [64]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [67]:
"""Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer."""

def mean(num):
    sum_of_digits=0
    x = [int(a) for a in str(num)]#split the digits of the integer
    for i in range(0, len(x)): # create a loop to find the sum of digits
        sum_of_digits = sum_of_digits + x[i]
    count = 0
    while num != 0:#create a loop to find the number of digits
        num //= 10
        count += 1
    mean_of_all = sum_of_digits/count # calculate mean
    return int(mean_of_all)

mean(42)

3

In [68]:
mean(12345)

3

In [69]:
mean(666)

6