In [11]:
"""Question1

Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]
filter_list(["Nothing", "here"]) ➞ []"""

def filter_list(l):  
    output = []
    for i in l:  
        if type(i) != str:  
            output.append(i)  
    return output

filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [12]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [13]:
filter_list(["Nothing", "here"])

[]

In [18]:
"""Question2

Given a list of numbers, create a function which returns the list but with each element's
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]"""

def add_indexes(l):
    for x in range(len(l)):
        l[x] += x
    return l

add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [19]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [20]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

In [25]:
"""3.Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0"""

''' Python3 program to calculate Volume and
    Surface area of Cone'''
 
# Importing Math library for value Of PI
import math
pi = math.pi
 
# Function to calculate Volume of Cone
def cone_volume(h,r):
    result=(1 / 3) * pi * r * r * h
    result=round(result,2)
    return result
 
# Driver Code

cone_volume(15,6)

565.49

In [26]:
cone_volume(18, 0)

0.0

In [27]:
cone_volume(3, 2)

12.57

In [48]:
"""Question4

This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.

Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220"""

# Python3 code to find Triangular
# Number Series
 
# Function to find triangular number
def triangle( n ):
    j = 1
    k = 1
     
    # For each iteration increase j
    # by 1 and add it into k
    for i in range(1, n):
        j = j + 1 # Increasing j by 1
        # Add value of j into k and update k
        k = k + j
    return k
    
    
# Driven Code
n = 215
triangle(n)

23220

In [49]:
triangle(6)

21

In [50]:
triangle(1)

1

In [59]:
"""Question5

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7"""

# Function to find the missing element
def missing_num(arr):
    n=len(arr)
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(arr)
    return int(total - sum_of_A)
 
# Driver code
if __name__ == '__main__':
    arr = [1, 2, 3, 4, 6, 7, 8, 9, 10]
    N = len(arr)
     
    # Function call
    miss = missing_num(arr)
    print(miss)

5

In [61]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [62]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7